/* Jacquard 12 */
@font-face {
  font-family: "Jacquard 12";
  src: url(../assets/fonts/Jacquard12-Regular.ttf) format("truetype");
}

/* Fira Mono Bold */
@font-face {
  font-family: "Fira Mono Bold";
  src: url(../assets/fonts/FiraMono-Bold.ttf) format("truetype");
}

* {
  font-family: "Fira Mono Bold" ,mono;
  text-decoration: none;
  color: black;
}

.card {
  border: 1px solid black;
  border-top: 20px solid black;
  padding: 10px 25px 25px 25px;
  margin: auto;
  width: 280px;
  height: auto;
}

header * {
  font-family: "Jacquard 12";
  font-size: 35px;
  color: black;
  margin: 0px;
  display: inline-block;
  width: auto;
}

h3 {
  margin: 10px auto;
}

.button a:hover {
  text-decoration: 2px underline;
}

#discord a:hover {
  text-decoration: none;
}
